<h4>Internal Server Error - Refreshing the page wil make the error go away</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger"> Error: {{error.message}}</h5>
  <p class=" font-weight-bold">Note: if you are seeing this Angular is probbaly not to bale.</p>
  <p>What to do next?</p>
  <ol>
    <li>Open the Chrome</li>
    <li>Inspect the network tab</li>
    <li>Check the failing request</li>
    <li>Examine the request URL = make sure it is correct</li>
    <li>Reproduce the error in Postman - If we see the same response then the issue is not with Angular</li>
  </ol>
  <p>Following is the stack trace - This is were your investigation starts!</p>
  <code class="mt-5" style="background-color:antiquewhite">{{error.details}}</code>
</ng-container>
